<div class="container-inner">
    <h2>Test REST</h2>
    <%- include('./partials/form.ejs') %> 
    <div class="results">
        <table>

            <tr>
                <th>Time</th>
                <th>Endpoint</th>
                <th>Items</th>
            </tr>
        <% info.forEach(cell => { %>
            <tr>
                <td><%= cell.time %></td>
                <td><%= cell.measure %></td>
                <td><%= cell.content %></td>
            </tr>
        <% }) %>
        </table>
    </div>
</div>
<div class="container-inner">
    <h2>Test GraphQL</h2>
    <div class="results">
        <table>

        </table>
    </div>
</div>