<form method="POST" action="http://192.168.1.108:6000/rest/add">
  <label for="companies">Companies:</label>
  <input type="number" name="companies" id="companies">
  <br>
  <label for="employees">Employees:</label>
  <input type="number" name="employees" id="employees">
  <br>
  <button type="submit">Add</button>
</form>
