<form method="POST" action="/measure">
    <label for="endpoint">Endpoint:</label>
<select name="endpoint" id="endpoint">
    <option value="1">1 - Employee ID required</option>
    <option value="2">2 - All Employees</option>
    <option value="3">3 - All Companies</option>
    <option value="4">4 - Company ID required</option>
    <option value="5">5 - Employees from certain company ID</option>
  </select>
  <br>
  <label for="id">ID:</label>
  <input type="number" name="id" id="id">
  <br>
<label for="apiType">API Type:</label>
  <select name="apiType" id="apiType">
    <option value="0">GraphQL</option>
    <option value="1">REST</option>
  </select>
  <br>
  <label for="iterations">Iterations</label>
  <input type="number" name="iterations" id="iterations">
  <br>
    <button type="submit">Submit</button>    
</form>

<form method="POST" action="/download">
  <input type="hidden" id="data" name="data" value="<%= JSON.stringify(info) %>" />
  <button type="submit">Download data</button>
</form>