@import 'fonts.css';

:root {
    font-family: 'Rubik';
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin:0;
    /*background: linear-gradient(to bottom,gray, darkgray);*/
}

.container {
    padding:1rem;
    margin:auto;
    margin-bottom:3rem;
    border-radius: 5px;
    flex-direction: column;
    display:flex;
    align-items: center;
    text-align: center;
}

.chart-container {
    width:100%;
    display:flex;
    flex-direction: column;
    gap:10em;
}

.container h2 {
    font-size: 3em;
    font-weight: 500;
    margin:0 0 1rem 0;
    padding:0;
}
.container-inner table {
    border: 1px solid black;
}
form {
    flex-direction: column;
    display:flex;
    gap:1rem;
}
.form-item-checkbox {
    display:flex;
    align-items: center;
}
.form-item-checkbox input {
    width: 20%;
}
input, select {
    width:100%;
    text-align: center;
    height:2rem;
    font-size: 1.2em;
}
button {
    font-size: 1.2em;
    width:100%;
}
#myChart {
    width:100%;
}